<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.Cosmora">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <!-- MOVE queries OUTSIDE of application tag -->
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="multiplepages"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MultiplePages"
        tools:targetApi="31">

        <!-- ✅ Splash screen: Launcher activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MultiplePages">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- ✅ Login page shown after splash -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />


        <activity
            android:name=".SignupActivity"
            android:exported="true" />

        <activity
            android:name=".UserActivity"
            android:exported="true" />


        <activity
            android:name=".AdminActivity"
            android:exported="true" />


        <activity
            android:name=".ShoworderActivity"
            android:exported="true"
            android:label="@string/title_activity_showorders"
            android:theme="@style/Theme.AppCompat" />

        <activity
            android:name=".HomeActivity"
            android:exported="false" />


        <activity
            android:name=".WatingQueue"
            android:exported="false" />

    </application>
</manifest>